<form name="register_form">
	<label for="register_name">Name</label>
	<input type="text" id="register_name" ng-model="name" placeholder="John Doe">
	<label for="register_email">Email</label>
	<input id="register_email" ng-model="register_email" class="email" type="text" placeholder="johndoe@gmail.com">
	<label for="register_region">Region</label>
	<input type="text" id="register_region"  ng-model="region" placeholder="eg. San Diego">
	<label for="register_password">Password</label>
	<input type="password" id="register_password" ng-model="register_password" placeholder="Password">
	<label for="register_password_confirm">Confirm Password</label>
	<input type="password" id="register_password_confirm" ng-model="register_password_confirm" placeholder="Confirm Password">
	<a ng-click="register(name, register_email, register_password, region)">Submit</a>
</form>

<form name="login_form">
	<label for="login_email">Email</label>
	<input type="text" id="login_email" ng-model="login_email" placeholder="Email">
	<label for="login_password">Password</label>
	<input type="password" id="login_password" ng-model="login_password" placeholder="Password">
	<a ng-click="login(login_email, login_password)">Submit</a>
</form>

<script>
	var password = document.getElementById('register_password'),
		confirm_password = document.getElementById('register_password_confirm');

	var register_submit = document.getElementById('register_submit');
	var register_form = document.forms;

	var public,
		secret;

	function validatePassword() {
		if(password.value !== confirm_password.value) {
			confirm_password.setCustomValidity('Passwords do not match');
		} else {
			confirm_password.setCustomValidity('');
		}
	}

	// function submitRegisterForm() {
	// 	document.register_form.submit();
	// }

	//register_submit.onclick = submitRegisterForm;
	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>