<div class="row">
	<div class="columns large-12 text-center">
		<span class="title">Login</span>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<form name="login_form" ng-submit="login(user)">
			<label for="login_email">Email</label>
			<input type="text" id="login_email" ng-model="user.email" placeholder="Email" required>
			<label for="login_password">Password</label>
			<input type="password" id="login_password" enter="login(user)" ng-model="user.password" placeholder="Password" required>
			<a class="button success expand" ng-click="login(user)">Submit</a>
		</form>
	</div>
</div>

<div class="row">
	<div class="columns large-12 text-center">
		<span class="title">Register</span>
	</div>
</div>
<div class="row">
	<div class="columns large-12">
		<form name="register_form" ng-submit="register(newUser)">
			<label for="register_name">Name</label>
			<input type="text" id="register_name" ng-model="newUser.name" placeholder="John Doe" required>
			<label for="register_email">Email</label>
			<input id="register_email" ng-model="newUser.email" class="email" type="text" placeholder="johndoe@gmail.com" required>
			<label for="register_region">Region</label>
			<input type="text" id="register_region"  ng-model="newUser.region" placeholder="eg. San Diego" required>
			<label for="register_password">Password</label>
			<input type="password" id="register_password" ng-model="newUser.password" placeholder="Password" required>
			<label for="register_password_confirm">Confirm Password</label>
			<input type="password" enter="register(newUser)" id="register_password_confirm" ng-model="newUser.confirmPassword" placeholder="Confirm Password" required>
			<a class="button info expand" ng-click="register(newUser)">Submit</a>
		</form>
	</div>
</div>

<script>
	var password = document.getElementById('register_password'),
		confirm_password = document.getElementById('register_password_confirm');

	var register_submit = document.getElementById('register_submit');
	var register_form = document.forms;

	var public,
		secret;

	function validatePassword() {
		if(password.value !== confirm_password.value) {
			confirm_password.setCustomValidity('Passwords do not match');
		} else {
			confirm_password.setCustomValidity('');
		}
	}

	// function submitRegisterForm() {
	// 	document.register_form.submit();
	// }

	//register_submit.onclick = submitRegisterForm;
	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
</script>