.title {
	font-size : 3em;
	font-weight: bold;
}

div#spinner
{
    display: none;
    width:128px;
    height: 128px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(http://www.ffetch.com/app/webroot/img/loading-spinner11.gif) no-repeat center;
    text-align:center;
    padding:10px;
    overflow: hidden;
    font:normal 16px Tahoma, Geneva, sans-serif;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}